.creators {
    width: 100%;
    .creators_items {
        padding: 80px 0;
        width: 100%;
        .creators_header {
            @include heading-style;
        }
        .creators_content {
            width: 100%;
            margin-top: 60px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 30px;
            .creators_item {
                padding: 20px;
                background-color: $dark-gray;
                border-radius: 20px;
                position: relative;
                display: flex;
                gap: 20px;
                flex-direction: column;
                align-items: center;
                .item_num {
                    height: 30px;
                    width: 30px;
                    background-color: $main-dark;
                    border-radius: 100%;
                    color: $text-gray;
                    font-family: $space-font;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 18px;
                    left: 20px;
                }
                .item_text {
                    width: 100%;
                    .item_title {
                        @include little-title;
                        text-align: center;
                    }
                    .item_info {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 5px;
                        .info_title {
                            color: $text-gray;
                            text-transform: capitalize;
                        }
                        .info_value {
                            color: #fff;
                            font-family: $space-font;
                        }
                    }
                }
                @include up-animation;
            }
        }
        .creators_small_btn {
            display: none;
        }
    }
}