.header {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 30;
    background-color: $main-dark;
    .header_menu {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 50px;
        li {
            a {
                font-weight: 600;
                color: #fff;
                text-decoration: none;
                transition: 0.3s all;
                &:hover {
                    transition: 0.3s all;
                    color: $main-purple;
                }
            }
            .header_btn {
                @include fill-btn-style;
                padding: 19px 30px;
            }
        }
    }
    .header_burger {
        display: none;

    }
}